# Use CPU versions to prevent Render RAM crashes
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.9.1+cpu
torchvision==0.24.1+cpu

# Core AI & Frameworks
fastapi
uvicorn
langchain
langgraph
docling
groq
python-dotenv
chromadb
sentence-transformers
