--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
fastapi
uvicorn
gunicorn
pydantic
python-dotenv
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langchain-chroma
langchain-docling
langgraph
chromadb
sentence-transformers
docling
groq